@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 1rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

.bg-gray-50 {
  background-color: rgb(254 242 242);
}

.w-full {
  width: 100%;
}

.w-max {
  width: max-content;
}

.w-fit {
  width: fit-content;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.h-96 {
  height: 24rem;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.size-full {
  width: 100%;
  height: 100%;
}

.w-10 {
  width: 2.5rem;
}

.w-32 {
  width: 8rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.gap-10 {
  gap: 2.5rem;
}

.p-8 {
  padding: 2rem;
}

.w-64 {
  width: 16rem;
}

.m-10 {
  margin: 2.5rem;
}

.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.p-10 {
  padding: 2.5rem;
}

.p-5 {
  padding: 1.25rem;
}

.w-90 {
  width: 90%;
}

.w-min {
  width: min-content;
}

.bg-slate-200 {
  background-color: rgb(0 0 0 / 8%);
}

.rounded-lg {
  border-radius: 1rem;
}

.w-100 {
  width: 2.5rem;
}

.h-10 {
  height: 2.5rem;
}
